<h1>Pages#batmanvssuperman</h1>
<p>Find me in app/views/pages/batmanvssuperman.html.erb</p>


<div class="container">
<a href="http://localhost:3000/pages/batman"> <%= image_tag("http://media.dcentertainment.com/sites/default/files/GalleryComics_1920x1080_20160427_BM_Cv51_56f33d0526d1a5.59154201.jpg") %> </a>
</div>

<div class="container">
<a href="http://localhost:3000/pages/superman"> <%= image_tag("http://screenrant.com/wp-content/uploads/Superman-3D-Art.jpg")%> </a>
</div>